---
import Layout from '@/layouts/index.astro';

import Atropos from "@/components/pages/home/Atropos/index.vue";
import 'atropos/atropos.css';
---

<Layout title="m0nch1 dev">
	<div class="h-full flex items-center">
		<Atropos client:load />
	</div>
</Layout>
