---
import Layout from '@/layouts/index.astro';

import Atropos from "@/components/pages/home/Atropos/index.vue";
---

<Layout title="Welcome to Astro.">
	<main>
		<Atropos client:load />
	</main>
</Layout>
