---
import Header from '../components/layout/Header';
import Footer from '@/components/layout/Footer';

export interface Props {
	title: string;
	thumbnailUrl?: string;
}

const { title, thumbnailUrl } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">

	<meta name="description" property="og:description" content={`${title} | m0nch1-dev`} />
	<meta property="og:image" content={thumbnailUrl || 'https://m0nch1.dev/m0nch1_green.png'}>
	<meta property="og:image:alt" content="m0nch1-dev">

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

	<title>{title}</title>

	<script is:inline>
		partytown = {
			forward: ['dataLayer.push'],
		}
	</script>
	<script type='text/partytown' src='https://www.googletagmanager.com/gtag/js?id=G-GTY2XLJS3R'>

	</script>
	<script type='text/partytown'>
		window.dataLayer = window.dataLayer || []
		function gtag() {
			dataLayer.push(arguments)
		}
		gtag('js', new Date())
		gtag('config', 'G-GTY2XLJS3R')
		gtag('config', 'UA-224877844-2', {
			'linker': {
        'domains': ['mochigome.stores.cm']
      },
		});
	</script>
</head>
<body class="px-4 md:px-8">
  <Header client:load />
	<main class="main bg-white py-4 sm:py-6 lg:py-8 ">
		<slot />
	</main>
  <Footer />
</body>
</html>

<style lang="scss">
html, body {
	height: 100%;
}

.main {
	height: calc(100% - 68px - 134px);
}
</style>